* {
  background-color: rgb(63, 1, 90);
}
body {
  padding: 10px;
  background-color: rgb(171, 0, 245);
}
body div {
  display: flex;
  flex-direction: column;
}
.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-yellow {
  background-color: yellow;
}

.bg-purple {
  background-color: purple;
}

.bg-orange {
  background-color: orange;
}

.container {
  display: flex;
  border: 1px solid black;
  margin-bottom: 1rem;
  width: 600px;
  height: 600px;
}
nav {
  background-color: rgb(171, 0, 245);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;

}
/* Task 1 */

.task1 {
  flex-direction: row;
  flex-wrap: wrap;
}

.task1 .child {
  height: 200px;
}

.task1 .bigger {
  width: 400px;
}

.task1 .smaller {
  width: 200px;
}

/* Task 2 */

.task2 {
flex-direction: column;
flex-wrap: wrap;
}

.task2 .child {
  width: 200px;
}

.task2 .smaller {
  height: 200px;
}

.task2 .bigger {
  height: 400px;
}
/* Task 3 */
.task3 {
  flex-direction: column;
  flex-wrap: wrap;
}
.task3 .child {
  width: 200px;
}
.task3 .bigger {
  height: 400px;
}
.task3 .smaller {
  height: 200px;
}
/* task4 */
.task4 {
  flex-direction: row;
  flex-wrap: wrap;
}
.task4 .child {
  width: 120px;
}
.task4 .smaller {
  height: 150px;
}
/* task5 */
.task5 {
  flex-direction: row;
  flex-wrap: wrap;
}
.task5 .child {
  width: 100px;
}
.task5 .bigger {
  height: 80px;
}
.task5 .smaller {
  height: 150px;
}
.task6x {
  flex-direction: row;
  flex-wrap: wrap;
  align-self: baseline;
}
.task6 {
  flex-direction: row;
  flex-wrap: wrap;
}
.task6 .bigger {
  height: 300px;
  width: 600px;
}
.task6 .smaller {
  height: 150px;
  width: 100px;
  align-self: baseline;
}
.task6 .medium {
  height: 300px;
  width: 200px;
}
.task6 .small {
  height: 100px;
  width: 200px;
  align-self: baseline;
}